[user]
	name = Liquidsoul
	email = liquidsoul@liquidsoul.fr
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
[merge]
	tool = p4merge
[alias]
	co = checkout
	st = status -sb

	d = diff
	wd = diff --word-diff
	ds = diff --staged
	wds = diff --staged --word-diff

	amend = commit --amend -C HEAD
	undo = reset --soft HEAD^

	l = log --decorate --graph
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all

	pr = pull --rebase
	ls = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short
	graph = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'

	sl = stash list

	# allow the use of stash commands using a regular expression
	sshow = "!f() { git stash show -p \"$(git stash list | grep -E \"$*\" | awk \"{ print $ 1; }\" | sed -n \"s/://;1p\")\"; }; f"
	sapply = "!f() { git stash apply \"$(git stash list | grep -E \"$*\" | awk \"{ print $ 1; }\" | sed -n \"s/://;1p\")\"; }; f"
[core]
	pager = less -FRSX
