[submodule "powerline-shell"]
	path = powerline-shell
	url = https://github.com/milkbikis/powerline-shell
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/powerline/fonts
